*{
    margin: 0px;
    padding: 0px;
}
.div1{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.h1{
    padding: 20px;
    font-size: 70px;
    background-color: yellow;
    color: black;

}
.p1{
    font-size: 25px;
    padding: 30px;
    color: black;
}

.container{
    margin:0px;
    padding: 0px;
    text-align: center;
}
.table1{
    margin: auto;
    width: 750px;   
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 40px;
}
.table1 th{
    border: 2px solid black;
    padding: 10px;
    
}
.table1 td{
    border: 2px solid black;
    padding: 10px;
}

.about{
    margin:0px;
    padding:0px;
    text-align: center;
    font-size: 30px;
}


.features{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.navbar{
    padding: 30px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
}