.about{
    margin:0px;
    padding:0px;
    text-align: center;
    font-size: 30px;
}

.h5{
    padding: 20px;
    font-size: 70px;
    background-color: yellow;
    color: black;
    margin-bottom: 60px;
}

.features{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}