.container{
    margin:0px;
    padding: 0px;
    text-align: center;
}
.h2{
    padding: 20px;
    font-size: 70px;
    background-color: yellow;
    color: black;
    margin-bottom: 60px;
}
.table1{
    margin: auto;
    width: 750px;   
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 40px;
}
.table1 th{
    border: 2px solid black;
    padding: 10px;
    
}
.table1 td{
    border: 2px solid black;
    padding: 10px;
}